@tailwind base;
@tailwind components;
@tailwind utilities;

[class^='mgc_']::before,
[class*=' mgc_']::before {
  color: inherit !important;
}

/* Custom styles */
body {
  font-family: 'Inter', sans-serif;
}

html {
  scroll-behavior: smooth;
}

.heart-pulse {
  animation: pulse 1s infinite;
}

@keyframes pulse {
  0%, 100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
}

.heart-pulse {
  transition: transform 0.2s ease-in-out;
}